<div id="<%= dom_id menu_inventory %>">
  <p>
    <strong>Quantity required:</strong>
    <%= menu_inventory.quantity_required %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= menu_inventory.menu_id %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= menu_inventory.inventory_id %>
  </p>

</div>
