<div id="<%= dom_id bill %>">
  <p>
    <strong>Total amount:</strong>
    <%= bill.total_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bill.status %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= bill.order_id %>
  </p>

</div>
